@for (todo of todos; track $index) {
<a
  [ngStyle]="{ 'background-color': todo.completed ? 'green' : 'gray' }"
  class="w-full flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ todo.title }}
    </h5>
  </div>
</a>
}
