@if (posts$ | async; as posts) {
<p-table
  [style]="{ 'background-color': '#898d91' }"
  [value]="posts"
  [paginator]="true"
  [rows]="5"
  [pageLinks]="4"
  styleClass="table-auto text-xs xl:text-base"
  [paginatorDropdownAppendTo]="'body'"
  [columns]="cols"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header" let-columns>
    @for (col of columns; track $index) {
    <th
      style="background-color: #898d91"
      class="text-center border border-slate-300"
    >
      {{ col.header }}
    </th>
    }
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr class="border border-slate-300">
      @for (col of columns; track $index) {
      <ng-container>
        @if (col.header ==="მომხმარებლის სახელი") {

        <td>
          {{ item[col.field] | strSplitter : 2 }}
        </td>

        } @else {
        <td>
          @for (post of item.arrayOfPosts; track $index) {
          <div
            class="flex justify-between items-center p-1 border border-slate-300"
          >
            <span>{{ post.title }}.</span>
            <p-button
              icon="pi pi-info"
              [severity]="'info'"
              [outlined]="true"
              iconPos="right"
              label="დეტალურად"
              (onClick)="showDetailsPopup(post)"
            />
          </div>
          }
        </td>
        }
      </ng-container>
      }
    </tr>
    @if(displayDialog){

    <p-dialog
      blockScroll="false"
      styleClass="block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      header="დეტალები"
      [(visible)]="displayDialog"
      [focusOnShow]="false"
      [dismissableMask]="true"
      showEffect="fade"
      [modal]="true"
      [style]="{ width: '70vw' }"
    >
      <div>
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ postDetail.title }}
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          {{ postDetail.body }}
        </p>
      </div>

      <div class="_x_mb-40 _x_flex _x_h-full _x_w-full _x_gap-15 grid w-full">
        <button
          type="button "
          class="justify-self-end m-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          (click)="displayDialog = false"
        >
          Ok
        </button>
      </div>
    </p-dialog>
    }
  </ng-template>
</p-table>
} @else {
<app-loading-animation></app-loading-animation>
}
